/* body{ */
    /* background: #ff0000; */
/* } */
svg{
position: fixed;
/* z-index: -48981; */
/* background: #ff0000; */
/* color:#ff0000; */
overflow: hidden;
/* height:700px; */
/* height:-10px; */
}
.bottom{
transform:rotate(180deg);
position:relative;
background: #ccc;
/* top:-20px; */
/* color:#ff0000; */
z-index: 4;
line-height: 0px;
direction: ltr;
}
