.extra, .extra1{
  height:50px;
  background: #ccc;
}
.con{
    display:flex;
    width:100vw;
    height:auto;
    justify-content: center;
    align-items: center;
    /* margin-top:50px; */
    /* margin-bottom:50px; */
    background: #ccc;
    z-index: 7;
}
.con1{
    display:grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows:1fr 1fr ;
    width:80%;
    background: #eee;
    gap: 30px;
    z-index: 7;
    /* place-items: center; */
    
}

@media screen and (min-width: 320px)and (max-width:660px){
    .con1{

        grid-template-columns: repeat(1, 90vw);
        gap:10px;
        
    }
}
@media only screen  and (min-width: 660px) and (max-width:992px){
    .con1{

        grid-template-columns: repeat(2, 44%);
        gap: 50px;
    }
}

@media screen and(min-width: 992px) and (max-width:2000px) {
    .con1{

        grid-template-columns: repeat(3, 32%);
        
    }
}
/* .con1 :nth-child(1){
    transform: scale(500px);
} */
.res{
    width:100vw;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.new{
display:flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.new span{
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    /* color: #ff0000; */
}
#line{
    width:80px;
    /* color:#ff0000; */
    /* background: #ff0000; */
    border:2.5px solid #ff0000;
    display:flex;
    /* font */
}