*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.head{
    width: 100vw;
    height:150px;
      transform: rotateY(180deg);
    background-color:rgb(90, 234, 7);
 }
 #head-1{
    width:100vw;
    /* transform: rotate(180deg); */
   /* background-color:red; */
   color: aliceblue;
    /* height:200; */

 }
 #head-2{
  /* background-color:rgb(55, 0, 255); */
  color: aliceblue;
    height:150px;
 }